{% extends 'polls/base.html' %}
{% block content %}
<div class="container">
    <div class="jumbotron"><h1 class="display-4">{{ question.question_text }}</h1></div>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        <ul class="list-group">  
        {% for choice in question.choice_set.all %}
        <li class="list-group-item">    
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
        </li>
        </ul>
        <br>
        <input type="submit" class="btn btn-primary" value="Vote">
    </form>
</div>
{% endblock content %}