.dabba {
    margin-top: 5%;
    padding: 3%;
    font-size: 4.5em;
    border: 2px solid rgb(114, 114, 114);
    transition: 0.3s;
}

.dabba:hover {
    margin-top: 4.5%;
    text-decoration: none;
    text-color: white;
    background: black;
}

.down {
    margin-top: 5%;
}